{% extends 'base.html' %}

{% block content  %}
<br>
<div class = "container bg-white text-dark">
	<br>
	<h2>Monthly Report</h2>
	<b><p>Can find attendance status of students {% now "F" %} month</p></b>
	<a href = {% url 'admin:index' %}>
		<button class = 'btn btn-info'>Go to admin panel</button>
	</a>
	<br>
	<br>

	{% for message in messages %}
	<div class="alert {{ message.tags }} alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	  </button>
	  {{ message }}
	</div>
  {% endfor %}

	<form action = '/attendance/monthlyreport/' method="POST" id="mar">


		{% csrf_token %}


		 <div class="form-group">
			<label for="Student Select">Select Student</label>
			<select class="form-control" id="ss" name="name">
				<option selected>-----</option>
				{% for i in asd %}
			  <option>{{ i }}</option>
			{% endfor %}
			  
			</select>
		  </div>
		
		
		<button type="submit" class="btn btn-primary">Get data</button>
	  </form>

	<table class="table" id="mrd">
		<thead class="thead-dark">
		  <tr>
			<th scope="col">S.NO</th>
			<th scope="col">App No</th>
			<th scope="col">Reg No</th>
			<th scope="col">Name</th>
			<th scope="col">TotalDays</th>
			<th scope="col">No of days present</th>
			<th scope="col">No of days absent</th>

		  </tr>
		</thead>
		<tbody>
		  <tr>
			{% if mar or mara %}
			<th scope="row">1</th>
			{% endif %}
			<td>{{ student.Application_Number }}</td>
			<td>{{ student.Register_Number }}</td>
			<td>{{ student.Name }}</td>
			<td>{{ total_days }}</td>
			<td>{{ mar }}</td>	
			<td>{{ mara }}</td>	
		 
		  </tr>
		  
		</tbody>
	  </table>
	  <br>

	  {% if mar or mara %}
	  <button class="btn btn-primary" onclick="window.location.href = window.location.href;">Clear data</button>
	  <br>
	  <br>
	  {% endif %}
	  <script>
		$(document).ready(function () {
			$('#mrd').DataTable({
				dom: 'lBfrtip',
				searching: false,
				paging: false,
				ordering: false,
  
			  buttons: [
				'copyHtml5',
				'excelHtml5',
				'csvHtml5',
				'pdfHtml5'
			  ]
			});
		  });
	</script>

</div>




{% endblock content  %}
